<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
				
<mapper namespace="PurchaseMapper">
	<resultMap id = "purchaseSelectMap" type = "purchaseVO">
		<result property = "dlvyAddr" column = "dlvy_addr" jdbcType="VARCHAR"/>
		<result property = "dlvyDate" column = "dlvy_date" jdbcType="DATE"/>
		<result property = "dlvyRequest" column = "dlvy_request" jdbcType="VARCHAR"/>
		<result property = "orderDate" column = "order_date"  jdbcType="DATE"/>
		<result property = "paymentOption" column = "payment_option"  jdbcType="VARCHAR"/>
		<result property = "receiverName" column = "receiver_name"  jdbcType="VARCHAR"/>
		<result property = "receiverPhone" column = "receiver_phone"  jdbcType="VARCHAR"/>
		<result property = "tranCode" column = "tran_status_code"  jdbcType="VARCHAR"/>
		<result property = "tranNo" column = "tran_no"  jdbcType="NUMERIC"/>
		<result property = "prodCount" column = "prod_count"  jdbcType="NUMERIC"/>
		<result property = "totalPrice" column = "total_price"  jdbcType="NUMERIC"/>
		<association property="buyer" resultMap="userSelectMap" />
		<association property="purchaseProd" resultMap="productSelectMap" />
	</resultMap>
	
	<resultMap id = "productSelectMap" type = "productVO">
  		<result property = "manuDate" column = "manufacture_day" jdbcType="DATE"/>
  		<result property = "price" column = "price" jdbcType="NUMERIC"/>
  		<result property = "prodDetail" column = "prod_detail" jdbcType="VARCHAR"/>
  		<result property = "prodName" column = "prod_name" jdbcType = "VARCHAR"/>
  		<result property = "prodNo" column = "prod_no" jdbcType = "NUMERIC"/>
  		<result property = "regDate" column = "reg_date" jdbcType = "DATE"/>
		<result property = "count" column = "count" jdbcType = "NUMERIC"/>
	</resultMap>
	
	<resultMap id = "userSelectMap" type = "userVO">
  		<result property = "userId" column = "buyer_id" jdbcType="VARCHAR"/>
  		<result property = "userName" column = "user_name" jdbcType="VARCHAR"/>
  		<result property = "password" column = "password" jdbcType="VARCHAR"/>
  		<result property = "role" column = "role" jdbcType="VARCHAR"/>
  		<result property = "ssn" column = "ssn" jdbcType = "VARCHAR"/>
  		<result property = "phone" column = "cell_phone" jdbcType = "VARCHAR"/>
  		<result property = "addr" column = "addr" jdbcType = "VARCHAR"/>
  		<result property = "email" column = "email" jdbcType = "VARCHAR"/>
  		<result property = "regDate" column = "reg_date"  jdbcType = "DATE"/>
	</resultMap>
	
  	<sql id = "getPurchaseListSelect">
  		 SELECT * FROM transaction 
  			<if test = "userVO.role != 'admin' ">
  				<where>
  				buyer_id = #{userVO.userId}
  				</where>
	  		</if>	
  		ORDER BY tran_no
  	</sql>
	
  	<select id="addPurchase"  parameterType = "purchaseVO">
  		INSERT
  		INTO transaction
  		(tran_no, prod_no, buyer_id, payment_option, receiver_name, 
  		receiver_phone, dlvy_addr, dlvy_request, tran_status_code, order_date, 
  		dlvy_date, prod_count, total_price)
  		VALUES(
  			seq_transaction_tran_no.nextval,
  			#{purchaseProd.prodNo:NUMERIC},
  			#{buyer.userId:VARCHAR},
  			#{paymentOption:VARCHAR},
  			#{receiverName:VARCHAR},
  			#{receiverPhone:VARCHAR},
  			#{dlvyAddr:VARCHAR},
  			#{dlvyRequest:VARCHAR},
  			#{tranCode:VARCHAR},
  			SYSDATE,
  			#{dlvyDate:DATE},
  			#{prodCount:NUMERIC},
  			#{totalPrice:NUMERIC}
  		)					
  	</select>
  	
  	 <select id="getPurchase"  parameterType = "int"  resultMap = "purchaseSelectMap">
		SELECT *
		FROM transaction   				
		WHERE tran_no = #{tran_no}							
  	</select>
  	
  	 <update id = "updatePurchase" parameterType = "purchaseVO">
  		UPDATE transaction
  		<set>
  			<if test = "paymentOption != null" >payment_option = #{paymentOption:VARCHAR},</if>
  			<if test = "receiverName != null"> receiver_name = #{receiverName:VARCHAR},</if>
  			<if test = "receiverPhone != null"> receiver_phone = #{receiverPhone:VARCHAR},</if>
  			<if test = "dlvyAddr != null"> dlvy_addr = #{dlvyAddr:VARCHAR},</if>
  			<if test = "dlvyRequest != null"> dlvy_request = #{dlvyRequest:VARCHAR},</if>
  			<if test = "dlvyDate != null"> dlvy_date = #{dlvyDate:DATE}</if>
  		</set>
  		WHERE tran_no = #{tranNo:NUMERIC}
  	</update>
  	
  	<!-- DAO 단위에서까지 만들고 나중에 필요할 때 사용하기 -->
  	<delete id = "deletePurchase" parameterType = "int">
  		DELETE
  		FROM transaction
  		WHERE tran_no = #{tran_no:NUMERIC}
  	</delete>
  	
  	<delete id = "deletePurchaseProdNo" parameterType = "int">
  		DELETE
  		FROM transaction
  		WHERE prod_no = #{prodNo:NUMERIC}
  	</delete>
  	
  	 <delete id = "deletePurchaseBuyerId" parameterType = "string">
  		DELETE
  		FROM transaction
  		WHERE buyer_id = #{buyerId:NUMERIC}
  	</delete>
  	
  	<select id = "getPurchaseList"  parameterType = "map"  resultMap = "purchaseSelectMap">
  		SELECT *
  		FROM
  		( SELECT inner_table.*, ROWNUM AS row_seq 
  		  FROM ( <include refid = "getPurchaseListSelect"/> ) inner_table
  		WHERE ROWNUM &lt; #{searchVO.page} * #{searchVO.pageSize} + 1 )
  		WHERE row_seq BETWEEN (#{searchVO.page} - 1) * #{searchVO.pageSize} + 1 AND #{searchVO.page} * #{searchVO.pageSize}
  	</select>
  	
  	<select id = "getPurchaseCount" parameterType = "map"  resultType = "int">
  		SELECT COUNT(*) FROM (
			<include refid = "getPurchaseListSelect"/>
		)
	</select>
	
	<!-- 여기 주의 -->
	<select id = "getSaleList"  resultType = "map">
		SELECT tran_no, tran_status_code 
		FROM transaction
	</select>
	
	<select id = "updateTranCode"  parameterType= "map"  resultMap = "purchaseSelectMap">
		UPDATE transaction
		<set>
			tran_status_code = #{tranCode}
		</set>
			WHERE tran_no = #{tranNo}
	</select>
</mapper>