<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
	Main point of MyBatis Framework 
	- JDBC Connection
	- Mapper : SQL meta-data
-->

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
 <configuration>	
 	
 	<!-- Bean Type Aliases -->
 	<typeAliases>
 		<typeAlias alias = "userVO" type = "com.springboot.project.service.domain.user.UserVO"/>
 		<typeAlias alias = "searchVO" type = "com.springboot.project.service.domain.product.SearchVO"/>
 		<typeAlias alias = "productVO" type = "com.springboot.project.service.domain.product.ProductVO"/>
 		<typeAlias alias = "purchaseVO" type = "com.springboot.project.service.domain.purchase.PurchaseVO"/>
 		<typeAlias alias = "FileVO" type = "com.springboot.project.service.domain.product.FileVO"/>
 		<typeAlias alias = "CartVO" type = "com.springboot.project.service.domain.product.CartVO"/>
 		<typeAlias alias = "TransactionListVO" type = "com.springboot.project.service.domain.purchase.TransactionListVO"/>
 		<typeAlias alias = "TagVO" type = "com.springboot.project.service.domain.product.TagVO"/>
 		<typeAlias alias = "ProductTagVO" type = "com.springboot.project.service.domain.product.ProductTagVO"/>
 		<typeAlias alias = "ProductCountByTagVO" type = "com.springboot.project.service.domain.statistics.ProductCountByTagVO"/>
 		<typeAlias alias = "ProductCountByTransactionVO" type = "com.springboot.project.service.domain.statistics.ProductCountByTransactionVO"/>
 		<typeAlias alias = "TransactionTotalPriceByOrderDateVO" type = "com.springboot.project.service.domain.statistics.TransactionTotalPriceByOrderDateVO"/>
 	</typeAliases>
	 
	<!-- SQL mapping -->
	<mappers>
		<mapper resource = "mapper/user/UserMapper.xml"/>
		<mapper resource = "mapper/product/ProductMapper.xml"/>
		<mapper resource = "mapper/purchase/PurchaseMapper.xml"/>
	</mappers>
	
 </configuration>
